wrdpframework/wrdp-web1/src/main/webapp/one.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="com.neusoft.talentbase.goAbroad.oa.vo" xmlns:intf="com.neusoft.talentbase.goAbroad.oa.vo"
	xmlns:tns1="urn:java:com.neusoft.talentbase.goAbroad.oa.vo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="com.neusoft.talentbase.goAbroad.oa.vo">
	<!-- WSDL created by Apache Axis version: #axisVersion# Built on #today# -->
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" targetNamespace="com.neusoft.talentbase.goAbroad.oa.vo">
			<import namespace="urn:java:com.neusoft.talentbase.goAbroad.oa.vo" />
			<element name="goAbroadInformationHRToOA" type="xsd:string" />
			<element name="goAbroadInformationHRToOAReturn" type="tns1:GoAbroadVO" />
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" targetNamespace="urn:java:com.neusoft.talentbase.goAbroad.oa.vo">
			<complexType name="GoAbroadVO">
				<sequence>
					<element name="abroadaim1" nillable="true" type="xsd:string" />
					<element name="abroadaim2" nillable="true" type="xsd:string" />
					<element name="abroadaim3" nillable="true" type="xsd:string" />
					<element name="abroadaim4" nillable="true" type="xsd:string" />
					<element name="c100230" nillable="true" type="xsd:string" />
					<element name="c100232" nillable="true" type="xsd:string" />
					<element name="certificatelimit1" nillable="true" type="xsd:dateTime" />
					<element name="certificatelimit2" nillable="true" type="xsd:dateTime" />
					<element name="certificatelimit3" nillable="true" type="xsd:dateTime" />
					<element name="certificatelimit4" nillable="true" type="xsd:dateTime" />
					<element name="certificateno1" nillable="true" type="xsd:string" />
					<element name="certificateno2" nillable="true" type="xsd:string" />
					<element name="certificateno3" nillable="true" type="xsd:string" />
					<element name="certificateno4" nillable="true" type="xsd:string" />
					<element name="fzsj1" nillable="true" type="xsd:dateTime" />
					<element name="fzsj2" nillable="true" type="xsd:dateTime" />
					<element name="fzsj3" nillable="true" type="xsd:dateTime" />
					<element name="fzsj4" nillable="true" type="xsd:dateTime" />
					<element name="gender" nillable="true" type="xsd:string" />
					<element name="idcard" nillable="true" type="xsd:string" />
					<element name="jobname" nillable="true" type="xsd:string" />
					<element name="message" nillable="true" type="xsd:string" />
					<element name="name" nillable="true" type="xsd:string" />
					<element name="orgname" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="goAbroadInformationHRToOARequest">
		<wsdl:part element="impl:goAbroadInformationHRToOA" name="goAbroadInformationHRToOA"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="goAbroadInformationHRToOAResponse">
		<wsdl:part element="impl:goAbroadInformationHRToOAReturn"
			name="goAbroadInformationHRToOAReturn"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GoAbroadAction">
		<wsdl:operation name="goAbroadInformationHRToOA"
			parameterOrder="goAbroadInformationHRToOA">
			<wsdl:input message="impl:goAbroadInformationHRToOARequest"
				name="goAbroadInformationHRToOARequest"></wsdl:input>
			<wsdl:output message="impl:goAbroadInformationHRToOAResponse"
				name="goAbroadInformationHRToOAResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GoAbroadOneServiceSoapBinding" type="impl:GoAbroadAction">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="goAbroadInformationHRToOA">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="goAbroadInformationHRToOARequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="goAbroadInformationHRToOAResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GoAbroadActionService">
		<wsdl:port binding="impl:GoAbroadOneServiceSoapBinding"
			name="GoAbroadOneService">
			<wsdlsoap:address
				location="http://localhost:8080/yy/services/GoAbroadOneService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>